 .jumbotron {
    background-color:rgb(32, 60, 88); 
    color: rgb(241, 234, 234);
    opacity: .9;
    margin-top: 50px;
    margin-left: auto;
 /*   width: 55%;  */
  }

body { 
     min-height: 100vh;  
     background: url("../images/train-station.png");
     background-size: cover;
     background-repeat: no-repeat;
     margin: 0 auto;
     font-family: 'Raleway', 'Helvetica', 'Arial', Sans-Serif;
     font-size: 20px;
     line-height: 2.5em;
     text-align: center;
}

.card {
  opacity: 0.9;
}


h1 {
    margin: 20px;
    line-height: 1.5em;
    font-weight: 300;
}

p {
    line-height: 2.25em;
    font-size:  18px;
    font-weight: 400;
}


